<form class="form-group" [formGroup]='userForm'>
  <legend>{{title}}</legend>

  <div  [ngClass]="{'has-error': formErrors.nome.msg}" >
    <label class="control-label">Nome</label>
    <input formControlName="nome" type="text" class="form-control">
    <span *ngIf="formErrors.nome.msg"  class="help-block"><div [innerHTML]="formErrors.nome.msg"></div></span>
  </div>

<div  [ngClass]="{'has-error': formErrors.email.msg}" >
    <label class="control-label">Email</label>
    <input formControlName="email" type="email" class="form-control">
    <span *ngIf="formErrors.email.msg"  class="help-block"><div [innerHTML]="formErrors.email.msg"></div></span>    
  </div>

  <div  [ngClass]="{'has-error': formErrors.senha.msg}" >
    <label class="control-label">Senha</label>
    <input formControlName="senha" type="password" class="form-control">
    <span *ngIf="formErrors.senha.msg"  class="help-block"><div [innerHTML]="formErrors.senha.msg"></div></span>    
  </div>
  <div  [ngClass]="{'has-error': formErrors.confirmarSenha.msg}" >
    <label class="control-label">Repita a senha</label>
    <input formControlName="confirmarSenha" type="password" class="form-control">
    <span *ngIf="formErrors.confirmarSenha.msg"  class="help-block"><div [innerHTML]="formErrors.confirmarSenha.msg"></div></span>
  </div>

  <p>Form value: {{ userForm.value | json }}</p>
  <p>Form status: {{ userForm.status | json }}</p>
  <button type="submit" class="btn btn-primary">{{action}}</button>
</form>