<div class="container">
    <div class="login-container">
        <div id="output"></div>
        <div class="avatar">

            <h2>Login</h2>
        </div>
        <div class="form-box">
            <form name="login" (ngSubmit)="onSubmit()" [formGroup]="loginForm" novalidate>
                <input formControlName="email" type="text" id="inputEmail" placeholder="Email" autofocus>
                <input formControlName="password" type="password" id="inputPassword" placeholder="Senha">
                <button class="btn btn-default btn-block login" type="submit">Entrar</button>
            </form>
        </div>

        <p>Form value: {{ loginForm.value | json }}</p>
        <p>Form status: {{ loginForm.status | json }}</p>
    </div>
</div>
<app-loader [hidden]="!loading"></app-loader>